<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Es1" method = 'GET'>
        <input type = "text" name = nome> Inserisci il nome <br> 
        <input type = "text" name = cognome> Inserisci il cognome <br> 
        <input type="submit" value='Es1'>
    </form>

    <form action="/Es2" method = 'GET'>
        <input type = "text" name = città> Inserisci la città <br> 
        <input type="submit" value='Es2'>
    </form>


    <form action="/Es3" method = 'GET'>
        <input type="submit" value='Es3'>
    </form>

    <form action="/Es4" method = 'GET'>
        <input type="submit" value='Es4'>
    </form>

    <form action="/Es5" method = 'GET'>
        <input type="submit" value='Es5'>
    </form>

    <form action="/Es6" method = 'GET'>
        <input type = "text" name = email> Inserisci la mail <br> 
        <input type="submit" value='Es6'>
    </form>

</body>
</html>